/* CUSTOM WORDPRESS ADMIN OVERRIDES */
/* --------------------------------------------------------------
TRANSITION DELAY - LESS LOOP
-------------------------------------------------------------- */
.delay-1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

.delay-2 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from { opacity: 0; }

    to { opacity: 1; }
}

.fadeIn { animation-name: fadeIn; }

/* CUSTOM LOGIN */
.login {
    background-color: #5a5a5a !important;
    background-size: contain;

    & h1 {
        background-image: url(../images/logo.png) !important;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain !important;
    }

    & a { background-image: none !important; }

    & form {
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 20px 25px 30px;
        background-color: rgba(203, 203, 203, 0.8);
        box-shadow: 0px 0px 6px #878787;
        animation-name: fadeIn;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: 0.2s;
        -webkit-animation-delay: 0.2s;
    }

    & input[type="text"] {
        margin-top: 10px;
        color: #000;
        border-radius: 0;
        background-color: #ffffff;
        border-color: #dddddd;
        padding: 5px;
        font-size: 20px;
    }

    & input[type="password"] {
        margin-top: 10px;
        color: #000;
        border-radius: 0;
        background-color: #ffffff;
        border-color: #dddddd;
        padding: 5px;
        font-size: 20px;
    }

    & form input[type=checkbox] { margin-top: 0; }

    & .button-primary {
        width: 120px;
        float: right;
        background-color: #26BBC7 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#26BBC7), to(#0C7C79));
        background: -webkit-linear-gradient(top, #26BBC7, #0C7C79);
        background: -moz-linear-gradient(top, #26BBC7, #0C7C79);
        background: -ms-linear-gradient(top, #26BBC7, #0C7C79);
        background: -o-linear-gradient(top, #26BBC7, #0C7C79);
        background-image: -ms-linear-gradient(top, #26BBC7 0%, #0C7C79 100%);
        color: #ffffff;
        -webkit-border-radius: 4px;
        border: 1px solid #26BBC7;
        text-shadow: 0 -1px 1px #26BBC7, 1px 0 1px #26BBC7, 0 1px 1px #26BBC7, -1px 0 1px #26BBC7;
    }

    & .button-primary:hover {
        background-color: #26BBC7 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#26BBC7), to(#0C7C79 ));
        background: -webkit-linear-gradient(top, #26BBC7, #0C7C79 );
        background: -moz-linear-gradient(top, #26BBC7, #0C7C79 );
        background: -ms-linear-gradient(top, #26BBC7, #0C7C79 );
        background: -o-linear-gradient(top, #26BBC7, #0C7C79 );
        background-image: -ms-linear-gradient(top, #26BBC7 0%, #0C7C79 100%);
        color: #fff;
        -webkit-border-radius: 4px;
        border: 1px solid #26BBC7;
        text-shadow: 0 -1px 1px #26BBC7, 1px 0 1px #26BBC7, 0 1px 1px #26BBC7, -1px 0 1px #26BBC7;
        box-shadow: 0 1px 0 #26BBC7, 0 0 2px 1px #26BBC7;
    }

    & .button-primary:active {
        background-color: #26BBC7 !important;
        background: -webkit-gradient(linear, left top, left bottom, from(#26BBC7), to(#26BBC7));
        background: -webkit-linear-gradient(top, #26BBC7, #0C7C79);
        background: -moz-linear-gradient(top, #26BBC7, #0C7C79862c32862c32);
        background: -ms-linear-gradient(top, #26BBC7, #0C7C79862c32);
        background: -o-linear-gradient(top, #26BBC7, #0C7C79);
        background-image: -ms-linear-gradient(top, #26BBC7 0%, #0C7C79 100%);
        color: #fff;
        -webkit-border-radius: 4px;
        border: 1px solid #0C7C79;
    }

    & label {
        color: #000;
        font-weight: 600;
        font-size: 13px;
        line-height: 22px;
        width: 100%;
        letter-spacing: -0.6px;
        text-transform: uppercase;
    }

    & #backtoblog a {
        text-decoration: none;
        color: #000;

        &:hover { color: #FFF; }
    }

    & #nav a {
        text-decoration: none;
        color: #000;

        &:hover { color: #FFF; }
    }
}

.toplevel_page_polemospolitic_custom_options {
    background-color: #6f6f6f !important;
    color: #FFF;

    & a { color: #26BBC7; }

    & #wpcontent { padding-left: 0; }

    & .polemospolitic_custom_options-header {
        display: block;
        background: #a5a5a5;
        color: #FFF;
        padding: 20px;
        border-top: 1px solid #3a3a3a;
        border-left: 0;
        border-bottom: 1px solid #3a3a3a;

        & h1 {
            float: right;
            padding: 5px 20px;
            color: #FFF;
        }
    }

    & .polemospolitic_custom_options-content {
        padding: 20px;
        line-height: 25px;

        & .form-table th, .form-wrap label { color: #FFF; }

        & h3 {
            color: #FFF;
            font-weight: 300;
        }

        & .button-primary {
            width: 120px;
            background-color: #26BBC7 !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#26BBC7), to(#0C7C79));
            background: -webkit-linear-gradient(top, #26BBC7, #0C7C79);
            background: -moz-linear-gradient(top, #26BBC7, #0C7C79);
            background: -ms-linear-gradient(top, #26BBC7, #0C7C79);
            background: -o-linear-gradient(top, #26BBC7, #0C7C79);
            background-image: -ms-linear-gradient(top, #26BBC7 0%, #0C7C79 100%);
            color: #ffffff;
            -webkit-border-radius: 4px;
            border: 1px solid #26BBC7;
            text-shadow: 0 -1px 1px #26BBC7, 1px 0 1px #26BBC7, 0 1px 1px #26BBC7, -1px 0 1px #26BBC7;
        }

        & .button-primary:hover {
            background-color: #26BBC7 !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#26BBC7), to(#0C7C79 ));
            background: -webkit-linear-gradient(top, #26BBC7, #0C7C79 );
            background: -moz-linear-gradient(top, #26BBC7, #0C7C79 );
            background: -ms-linear-gradient(top, #26BBC7, #0C7C79 );
            background: -o-linear-gradient(top, #26BBC7, #0C7C79 );
            background-image: -ms-linear-gradient(top, #26BBC7 0%, #0C7C79 100%);
            color: #fff;
            -webkit-border-radius: 4px;
            border: 1px solid #26BBC7;
            text-shadow: 0 -1px 1px #26BBC7, 1px 0 1px #26BBC7, 0 1px 1px #26BBC7, -1px 0 1px #26BBC7;
            box-shadow: 0 1px 0 #26BBC7, 0 0 2px 1px #26BBC7;
        }

        & .button-primary:active {
            background-color: #26BBC7 !important;
            background: -webkit-gradient(linear, left top, left bottom, from(#26BBC7), to(#26BBC7));
            background: -webkit-linear-gradient(top, #26BBC7, #0C7C79);
            background: -moz-linear-gradient(top, #26BBC7, #0C7C79862c32862c32);
            background: -ms-linear-gradient(top, #26BBC7, #0C7C79862c32);
            background: -o-linear-gradient(top, #26BBC7, #0C7C79);
            background-image: -ms-linear-gradient(top, #26BBC7 0%, #0C7C79 100%);
            color: #fff;
            -webkit-border-radius: 4px;
            border: 1px solid #0C7C79;
        }
    }

    #wpfooter { color: #f8f8f8; }
}
