/* --------------------------------------------------------------
/* MAIN LESS MIXINS AND FUNCTIONS - LESSHAT
-------------------------------------------------------------- */
@import 'less/lesshat.less';
/* --------------------------------------------------------------
/* WordPress Core
-------------------------------------------------------------- */
@import 'less/wordpress-core.less';
/* --------------------------------------------------------------
/* Shortcodes Ultimate Custom - ACTIVATE ONLY IF USED
-------------------------------------------------------------- */
//@import 'less/shortcodes-ultimate-custom.less';
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
.delay-1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.delay-2 {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
}

.delay-3 {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1.5s;
    -webkit-animation-delay: 1.5s;
}

.delay-4 {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
}

.delay-5 {
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2.5s;
    -webkit-animation-delay: 2.5s;
}

.delay-6 {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 3s;
    -webkit-animation-delay: 3s;
}

.delay-7 {
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 3.5s;
    -webkit-animation-delay: 3.5s;
}
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}@import 'less/layouts.less';

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

/* HEADER */
.navbar-brand { padding: 0; }

#sticker { z-index: 9999 !important; }

.the-header {
    background: #f9f9f9;
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.the-header .navbar-default {
    background: none transparent;
    border: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.the-header .navbar-default .navbar-nav li { position: relative; }

.the-header .navbar-default .navbar-nav li a {
    font-size: 14px;
    font-weight: 400;
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.the-header .navbar-default .navbar-nav li a:hover {
    color: #24b5bf !important;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.the-header .navbar-default .navbar-nav li:after {
    content: ' ';
    position: absolute;
    border-right: 1px solid #24b5bf;
    width: 2px;
    height: 22px;
    top: 30%;
    right: 0;
}

.the-header .navbar-default .navbar-nav li:last-child:after { display: none; }

.the-header .navbar-default .navbar-nav .active > a {
    background: none transparent;
    box-shadow: none;
    font-weight: 600 !important;
}

.is-sticky .the-header {
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
    background: #f7f7f7;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.img-logo {
    height: 60px;
    margin-top: -7px;
}

.custom-input-group input {
    border: 3px solid #24b5bf;
    border-right: 0;
    background: none transparent;
    border-radius: 10px;
    font-weight: 300;
    text-transform: lowercase;
    .placeholder(#000);
}

.custom-input-group button {
    border-radius: 10px;
    border: 3px solid #24b5bf;
    border-left: 0;
    height: 34px;
    background: none transparent !important;
    box-shadow: none !important;
}

.the-search-social { padding-top: 7px; }

.the-search-social .fa {
    font-size: 18px;
    padding: 7px 5px;
}

.the-search-social a {
    color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.the-search-social a:hover {
    color: #24b5bf;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.the-service-line {
    background: #F4F4F5;
    padding: 0;
    padding-top: 5px;
}

.the-service-line article:first-child { padding-left: 0; }

.the-service-line article:last-child { padding-right: 0; }

.service-line-item h3 {
    font-size: 13px;
    margin-top: 20px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -0.5px;
    text-transform: uppercase;
}

.service-line-item a { color: #000; }

.home-main-section {
    border-right: 1px solid #f4f4f5;
    margin: 20px 0;
    padding: 0 5px;
}

.home-main-section-item h2 {
    border-left: 10px solid #24b5bf;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

.section-type-item {

    & a {
        color: @black;
    }
}

.section-type1-item {
    margin-bottom: 10px;
}

.section-type1-item h3 {
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: -0.5px;
}

.section-type1-item .section-type1-info {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}

.section-type1-item .section-type1-excerpt { text-align: justify; }

.section-type1-item .section-type1-excerpt a { color: #24b5bf; }

.section-type2-item {
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 10px;
}

.section-type2-item .media-heading {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 22px;
}

.section-type3-item {
    position: relative;
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 10px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;


}

.section-type3-super-item-wrapper {
    & a {
        color: @white;
    }
}

.section-type3-item .section-type3-super-item-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(36, 181, 191, 0.42);
}

.section-type3-item .section-type3-super-item-info {
    color: #FFF;
    position: absolute;
    bottom: 10px;
    margin-left: 10px;
    padding: 5px 10px;
    border-left: 8px solid white;
}

.section-type3-item .section-type3-super-item-info h3 {
    font-size: 15px;
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
}

.section-type3-item .media-heading {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: -0.5px;
    line-height: 22px;
}

.the-multimedia-section {
    background: #262626;
    color: #FFF;
}

.the-multimedia-section .h2, .the-multimedia-section h2 {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

.the-newsletter { padding: 40px 0; }

.newsletter-container { text-align: center; }

.newsletter-container h2 {
    margin-top: 10px;
    font-size: 25px;
    font-weight: 600;
}

.newsletter-container h4 {
    font-size: 18px;
    font-weight: 300;
}

.newsletter-container .fa {
    padding: 25px 4px;
    font-size: 25px;
}

.the-footer {
    background: #222222;
    color: #FFF;
    padding: 20px 0;
    padding-bottom: 40px;
}

.the-footer .footer-item {
    font-size: 15px;
    line-height: 30px;
}

.the-footer .footer-item h5 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    border-left: 6px solid white;
    padding-left: 10px;
    margin-bottom: 25px;
}

.the-footer .footer-item a { color: #FFF; }

.the-footer .menu-footer ul {
    padding-left: 10px;
    list-style: none;
}

.the-footer .menu-footer ul li { padding-bottom: 5px; }

.the-footer .menu-footer ul li a { color: #FFF; }

.footer-copy {
    background: black;
    padding: 10px 0;
    color: #a2a2a2;
}

.footer-copy a { color: #a2a2a2; }

#sidebar {
    list-style: none;
    padding-left: 15px;
}

#sidebar .rotatingtweets { margin-top: 10px; }

#sidebar .widgettitle {
    border-left: 10px solid #24b5bf;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
}

#sidebar .media-object { max-width: 130px; }

.tagcloud a {
    background: #24b5bf;
    font-size: 14px !important;
    margin-right: 5px;
    margin-bottom: 10px;
    color: #FFF;
    padding: 9px;
    display: inline-block;
}

.multimedia-item {
    margin: 20px 0;
    font-size: 14px;
    line-height: 21px;
    font-weight: 100;
}

.page-banner {
    min-height: 300px;
    position: relative;
    color: #FFF;
    box-shadow: inset 0px -4px 16px black;
}

.page-banner h1 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    padding-top: 9%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.page-banner-wrapper {
    background: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.the-breadcrumbs {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}

.the-breadcrumbs .breadcrumb {
    padding: 0 !important;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
    display: inline-block !important;
    width: auto;
    background: rgba(45, 45, 45, 0.55);
    padding: 8px 15px !important;
}

.the-breadcrumbs .breadcrumb li a {
    color: #FFF;
    font-size: 14px !important;
}

.the-breadcrumbs .breadcrumb .active {
    color: #21b6c2;
    font-size: 14px !important;
    font-weight: 400;
}

.page-article {
    padding: 25px 0;
    line-height: 29px;
    font-size: 14px;
    text-align: justify;
}

.page-article h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 5px;
}

.page-article hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.main-news-container { padding: 40px 0; }

.mantenimiento-page {
    padding-top: 10%;
    text-align: center;
}

.mantenimiento-page .page-article {
    text-align: center !important;
}

.mantenimiento-page h1 {
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0;
    line-height: 35px;
}

.mantenimiento-page h2 {
    font-weight: 300;
    font-size: 35px;
    margin-bottom: 0;
    line-height: 35px;
}

.mantenimiento-page img {
    display: inline-block;
    margin-bottom: 30px;
}

.custom-form-control {
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
}

.custom-form-control input[type=text] {
    width: 100%;
    padding: 5px;
    color: #000;
    border: 1px solid #cccccc;
    background: #f9f9f9;
}

.custom-form-control input[type=email] {
    width: 100%;
    padding: 5px;
    color: #000;
    border: 1px solid #cccccc;
    background: #f9f9f9;
}

.custom-form-control input[type=tel] {
    width: 100%;
    padding: 5px;
    color: #000;
    border: 1px solid #cccccc;
    background: #f9f9f9;
}

.custom-form-control label {
    width: 100%;
    font-weight: 600;
    color: #6b6b6b;
}

.custom-form-control select {
    width: 100%;
    padding: 5px;
    color: #000;
    border: 1px solid #cccccc;
    background: #f9f9f9;
}

.custom-form-control textarea {
    width: 100%;
    padding: 5px;
    color: #000;
    border: 1px solid #cccccc;
    background: #f9f9f9;
}

.custom-form-control .wpcf7-submit {
    background: #23b8c3;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: 0;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 15px;
    letter-spacing: 1px;
}

.calendar_wrap #wp-calendar { width: 100% !important; }

.calendar_wrap #wp-calendar tr th, .calendar_wrap #wp-calendar tr td { text-align: center !important; }

.calendar_wrap caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #24b5bf;
    font-weight: 600;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.service-form {
    border-left: 1px solid #eee;
    margin: 20px 0;
    margin-bottom: 60px;
    font-size: 14px;
}

.custom-form-submit {
    background: #24b5bf;
    color: #FFF;
    margin-top: 15px;
    border: 0;
    padding: 10px 15px;
}

.member-item {
    color: #000;
    padding: 20px;
    margin-bottom: 5px;
    text-align: left;
    font-size: 12px;
    min-height: 775px;
    line-height: 25px;

    & .member-item-wrapper {
        min-height: 360px;
    }

    & h2 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px;
        margin-top: 15px;
    }
}


.member-item-1, .member-item-4 { padding-left: 0; }

.member-item-2, .member-item-5 { padding-left: 0; }

.member-item-3, .member-item-6 { padding-right: 0; }

.members-container { padding: 10px 0px; }

.archive-services-container {
    text-align: center;

    & h3 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: -.5px;
        margin-bottom: 35px;
    }
}

.archive-servicios-item {
    text-align: center;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 30px;

    & img { display: inline-block; }

    & h2 {
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: .5px;
        color: #000;
    }
}

.custom-collapse {
    width: 100% !important;
    display: block;
    border-bottom: 1px solid #0C7C79;
    padding-bottom: 5px;
}

.custom-collapse-caret {
    font-size: 13px;
    background: #F15C22;
    padding: 0px 4px;
    margin-right: 7px;
    color: #FFF;
    .transform(rotate(24.5deg));
    .transition(all .3s ease-in-out);
}

.collapsed {
    & .custom-collapse-caret {
        background: #1CAFBC;
        .transition(all .3s ease-in-out);
    }
}

.custom-collapse-title {
    font-size: 13px;
    display: inline-block;
    color: #999;
    font-weight: 400;
    width: 95%;
}

.custom-collapse-container {
    padding: 20px 0;
    border-bottom: 1px solid #0C7C79;
}

.service-article { padding-right: 20px; }

.service-form {
    & .custom-form-control {
        margin-bottom: 10px;
        width: 100%;
        padding: 5px;
    }

    & .custom-form-control input[type=text] {
        width: 100%;
        padding: 5px;
        color: #000;
        border: 1px solid #cccccc;
        background: #f9f9f9;
    }

    & .custom-form-control input[type=email] {
        width: 100%;
        padding: 5px;
        color: #000;
        border: 1px solid #cccccc;
        background: #f9f9f9;
    }

    & .custom-form-control input[type=tel] {
        width: 100%;
        padding: 5px;
        color: #000;
        border: 1px solid #cccccc;
        background: #f9f9f9;
    }

    & .custom-form-control label {
        width: 100%;
        font-weight: 600;
        color: #6b6b6b;
    }

    & .custom-form-control select {
        width: 100%;
        padding: 5px;
        color: #000;
        border: 1px solid #cccccc;
        background: #f9f9f9;
    }

    & .custom-form-control textarea {
        width: 100%;
        padding: 5px;
        color: #000;
        border: 1px solid #cccccc;
        background: #f9f9f9;
    }

    & .custom-form-control .wpcf7-submit {
        background: #23b8c3;
        border: 0;
        display: block;
        margin-left: auto;
        margin-right: 0;
        color: #FFF;
        text-transform: uppercase;
        padding: 10px 15px;
        letter-spacing: 1px;
    }

}

.archive-item-big {
    position: relative;
    margin-bottom: 20px;

    & img {
        display: block;
        width: 100%;
        height: auto;
    }

    & .archive-item-big-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(36, 181, 191, 0.53);
        color: #FFF;
        text-align: center;
        padding: 20px;
        padding-top: 20%;

        & a {
            color: white;
        }

        & h2 {
            font-size: 25px;
            font-weight: 600;
            letter-spacing: .5px;
            text-shadow: 0px 0px 2px black;
        }
        & .archive-item-big-excerpt {
            margin-top: 4%;
            font-size: 14px;
            line-height: 24px;
            text-shadow: 0 0 6px black;
        }
    }
}

.archive-grid-container {
    & article:nth-child(2n+1) {
        padding-left: 0;
    }
    & article:nth-child(2n+2) {
        padding-right: 0;
    }
}

.archive-item-grid {
    font-size: 13px;
    line-height: 25px;
    min-height: 600px;

    & h2 {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }
    & a {
        color: #23b8c3;
    }

    & .date {
        font-weight: 600;
        font-size: 14px;
    }
}

.the-single {
    padding-top: 3%;
    font-size: 18px;
    line-height: 30px;
    text-align: justify;

    & .single-categories {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;

        & a {
            color: #23b8c3;
        }
    }

    & h1 {
        font-size: 33px;
        text-align: center;
        font-weight: 700;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    & .date {
        font-size: 13px;
        font-weight: 600;
        display: block !important;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 20px;
    }

    & picture img {
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
}
