/* - GENERAL MEDIAQUERIES ARCHIVE - */
/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
//@media (max-width: 1920px) {
//
//}
//@media (max-width: 1680px) {
//
//}
//@media (max-width: 1600px) {
//
//}
//@media (max-width: 1440px) {
//
//}
//@media (max-width: 1366px) {
//
//}
//@media (max-width: 1280px) {
//
//}
@media (max-width: 1170px) {
    .the-header-form { width: 60%; }

    .the-header .navbar-default .navbar-nav li a {
        font-size: 11px;
    }

    .the-search-social .fa { padding: 7px 3px; }

    .page-banner { min-height: 250px; }
}
//@media (max-width: 1024px) {
//
//}
//@media (max-width: 992px) {
//
//}
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {
    .the-navbar { width: 100%; }

    .the-search-social { display: none; }

    .page-banner { min-height: 220px; }
}
//@media (max-width: 800px) {
//
//}
@media (max-width: 768px) {
    .the-breadcrumbs { display: none; }

    .page-banner { min-height: 220px; }

    .page-article img {
        min-width: 100%;
        height: auto;
        padding: 5px 0;
    }

    .page-article { padding: 5px 0; }

    .page-banner h1 { font-size: 30px; }

    .navbar-default .navbar-collapse { margin-top: 20px; }
}
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 768px
-------------------------------------------------------------- */
//@media (max-width: 600px) {
//
//}
@media (max-width: 533px) {
    .page-banner { min-height: 150px; }
}
//@media (max-width: 414px) {
//
//}
//@media (max-width: 375px) {
//
//}
//@media (max-width: 360px) {
//
//}
//@media (max-width: 320px) {
//
//}
//@media (max-width: 240px) {
//
//}
