/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
@media (max-width: 991px) {

}
@media (max-width: 800px) {

}
@media (max-width: 768px) {

}
